<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>为光明人点赞</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <!--<link rel="stylesheet" href="css/css.css"/>-->
    <!--<link rel="stylesheet" href="css/swiper.min.css">-->
    <!--<link rel="stylesheet" href="css/animate.min.css">-->
    <!--<script src="js/jquery.min.js"></script>-->
    <!--<script src="js/index.js"></script>-->
    <!--<script src="js/swiper.min.js"></script>-->
    <!--<script src="js/swiper.animate.min.js"></script>-->
    {load href='__CSS__/css.css'}
    {load href='__CSS__/swiper.min.css'}
    {load href='__CSS__/animate.min.css'}
    {load href='__JS__/jquery.min.js'}
    {load href='__JS__/index.js'}
    {load href='__JS__/swiper.min.js'}
    {load href='__JS__/swiper.animate.min.js'}
    {load href='__JS__/person.js'}
    {load href='__JS__/slide.js'}
</head>
<body>
    {block name="content"}{/block}
    {block name="footer"}{/block}
</body>
</html>